
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Gestion de Manifiestos</h2>


<section class="StatusPage">
    <div class="sales_actions row">
        <!--FILTER FOR THE STATUS OF THE DOCUMENT-->
        
        <label class="control-label col-sm-2 offset-md-2" for="StateFilterVal">Estado del manifiesto:</label>
        <div class="col-sm-6 input-group">

            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>

            <select class="form-control" id="StateFilterVal">
                <option>Pendientes por capturar</option>
                <option>Finalizadas</option>
                
            </select>
            
        </div>
    </div>
    <div class="sales_table row">
        <div class="col-sm-8 offset-md-2">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>

                        <th scope="col">Manifiesto</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.TicketProducts)
                {*@
                    <tr>

                        <td>123</td>
                        <td>Marcp</td>
                        <td>Pendiente</td>
                        <td>ver datalle</td>
                        <td>
                            <button type="button" class="btn btn-primary btn_big AddProduct" data-toggle="modal" data-target="#AddProduct">Agregar Producto</button>
                            <button type="button" class="btn btn-danger btn_big DeleteProduct" data-toggle="modal" data-target=".ModalDeleteProduct">Eliminar Producto</button>
                            <button type="button" class="btn btn-success btn_big ConfirmSale" data-toggle="modal" data-target="#ConfirmSale">Completar Venta</button>

                        </td>
                    </tr>



                </tbody>
                <tfoot style="text-align: center;">
                <td colspan="5">@DateTime.Now.Date</td>
                </tfoot>
            </table>

        </div>
      

    </div>
</section>